<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <h4>Chris Bisnett</h4>
    <img src="https://github.com/cbisnett.png" class="headshot"/>

    <ul class="identities">
      <li class="twitter"><a href="https://twitter.com/chrisbisnett"><span class="fa fa-twitter-square"></span>@chrisbisnett</a></li>
      <li class="github"><a href="https://github.com/cbisnett"><span class="fa fa-github-square"></span>cbisnett</a></li>
    </ul>
    <p class="bio">Cofounder at <a href="https://huntresslabs.com">Huntress Labs</a> focused on destroying malware. Host of TradecraftTuesday. I enjoy reverse engineering, fuzzing, and reading source code to find obscure vulnerabilities.</p>

    <h4>Projects</h4>
    <ul>
      <li>
        <a href="https://github.com/cbisnett/sendarp">SendARP</a>
      </li>
      <li>
        <a href="https://github.com/cbisnett/cppgm">GPPGM</a>
      </li>
    </ul>
    <h4>Training Offerings</h4>
    <ul>
      <li class="subsection">Fuzzing For Vulnerabilities</li>
      {% for post in site.categories.training limit:5 %}
      <li class="{% if page.title == post.title %}current{% endif %}">
        <a href="{{ post.registration_url }}">{{ post.venue }}</a>
      </li>
      {% endfor %}
      <li>
        <a href="https://www.blackhat.com/asia-15/training/fuzzing-for-vulnerabilities.html">BlackHat Asia 2015</a>
      </li>
      <li>BlackHat Trainings 2014</li>
      <li>BlackHat Asia 2014</li>
    </ul>
  </aside>
</div>
